body {
  background-color: #fff;
}
.showcase {
  height: 28rem;
}


.showcase h2::before {
  content: "why are we here";
  width: 12rem;
  font-size: 1.2rem;
  padding-top: .2rem;
}

.about-section {
  background: #f7f7f7;
  /* height: 100rem; */
  padding: 5rem 4rem;
  /* box-shadow:0 2px 6px 0 rgba(0, 0, 0, .12); */
}

.about-section .heading {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 600;
  padding: 1.5rem 0;
}

.about-section h3 {
  font-size: 1.9rem;
  padding: 2rem 0;
  font-weight: 400;
  position: relative;
  line-height: 3.1rem;
}

.about-section h3::before {
  content: "";
  background-color: #66cc99;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  position: absolute;
  /* margin-right: 2px; */
  /* display: inline-block; */
  left: -28px;
  top: 28px;
}

.about-section .if-yes::before {
  border-radius: 0.4rem;
  height: 2rem;
  width: 2rem;
  content: "*";
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  text-align: center;
  padding: 0 0.1rem 0.5rem 0.1rem;
  display: block;
}

h3.if-yes {
  font-weight: 600;

  margin-left: 0.2rem;
}

.bicsummary {
  margin: 2rem auto 3rem;
  background-color: #fff;
  /* border: 1px solid #66cc99; */
  padding: 2.5rem 2.4rem;
}

.bicsummary span {
  font-weight: 800;
}

.bicsummary li {
  font-size: 1.8rem;
  padding: 2.5rem 0;
  line-height: 3.5rem;
}

.hey-contact-section h2 {
  font-size: 3.2rem;
  font-weight: 600;
  padding: 2.5rem 0;
  line-height: 3.5rem;
  color: #66cc99;
}

.hey-contact-section h4 {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 2rem 0;
  line-height: 3.5rem;
}

.hey-contact-section span {
  color: #66cc99;
  font-size: 2rem;
  /* text-decoration: underline; */
}
