.showcase {
  /* background-color: #cc6699; */
  height: 28rem;
  padding: 0 1rem;
}

.showcase h2 {
  font-size: 4rem;
  color: #0e1d15;
}

.showcase h2::before {
  content: "more content";
  /* position: absolute; */
  display: block;
  background-color: #66cc99;
  color: #fff;
  padding: 0.15rem 0 0.4rem 0;
  width: 11rem;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 0.4rem;
  margin-bottom: 0.5rem;
}
.showcase h1 {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.9rem;
}

.article-card-1 img,
.article-card-2 img,
.article-card-3 img,
.article-card-4 img,
.article-card-5 img {
  border-radius: 0.4rem 0.4rem 0 0;
  height: 25rem;
  width: 100%;
}
